/* RULE REMOVAL */

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: currentColor;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* GENERAL */

body {
  font-family: 'Nunito', sans-serif;
  color: white;
  text-align: center;
  font-size: 20px;
  background: url(../img/svg/fondo.svg) #203A57 no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.btn {
  display: inline-block;
  white-space: nowrap;
  padding: .55rem 1.25rem;
  border-radius: 2.25rem;
  font-size: 1em;
  height: min-content;
  transition: .3s ease-in-out;
}

.btn:hover, .btn:focus {
  transform: translateY(-10px);
}

.btn-primary {
  background: linear-gradient(180deg, #FC5185 0%, #D32056 100%);
  box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.2);
}

.btn-primary:hover, .btn-primary:focus {
  box-shadow: 6px 13px 5px rgba(0, 0, 0, 0.2);
}

.btn-hollow {
  border: solid 2px white;
}

.btn-hollow:hover, .btn-hollow:focus {
  background-color: #364F6B;
}

.container {
  width: 86.6vw;
  margin: 0 auto;
}

@media (min-width: 650px) {
  .container {
    width: 70.83vw;
  }
}

@media (min-width: 1450px) {
  .container {
    width: 61.8vw;
  }
}

/* NAVIGATION */

.nav-wrapper {
  position: fixed;
  top: 0;
  z-index: 10;
  width: 100%;
  height: 60px;
  background-color: rgba(0, 0, 6, 0.2);
}

.nav-container {
  display: flex;
  justify-content: space-between;
  height: 100%;
  margin: auto;
}

.navbar-logo, .nav-toggle {
  margin: auto 0;
}

.navbar-logo {
  font-size: 24px;
}

.menu-icon {
  display: none;
}

.navbar-nav .nav-item {
  padding: 1rem;
  display: block;
  transition: 1s;
}

.navbar-nav .nav-item:hover {
  background-color: rgba(255, 255, 255, .2);
}

.scroll-trigger, .scroll-trigger::after {
  transition: .6s .15s;
}

@media (max-width:1079px) {
  .nav-toggle, .menu-icon {
    display: block;
    height: 40px;
    width: 40px;
    position: relative;
  }
  .menu-icon {
    display: block;
    background-repeat: no-repeat;
    background-position: center;
  }
  .navbar-nav {
    opacity: 0;
    position: absolute;
    top: 70px;
    right: 0;
    width: 250px;
    border-radius: 12px;
    background: linear-gradient(#364F6B 0%, #486688 100%), #364F6B;
    box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.2);
    color: white;
    pointer-events: none;
    transition: opacity .6s;
  }
  .navbar-nav .nav-item {
    border-radius: 12px;
  }
  .navbar-nav .active {
    background-color: rgba(255, 255, 255, .2);
  }
}

.nav-toggle:focus-within .navbar-nav {
  opacity: 1;
  pointer-events: all;
}

@media (min-width:1080px) {
  .nav-wrapper {
    height: 80px;
  }
  .navbar-nav {
    opacity: 1;
    transition: none;
    display: flex;
    flex: 1;
  }
  .navbar-nav .nav-item {
    padding: 1rem 0;
    margin: 0 1rem;
  }
  .scroll-trigger {
    position: relative;
  }
  .scroll-trigger::after {
    content: ' ';
    position: absolute;
    background-color: white;
    display: block;
    margin-left: 50%;
    width: 0%;
    height: 3px;
    border-radius: 2px;
  }
  .active::after {
    width: 100%;
    margin-left: 0;
  }
}

/* LANDING PAGE */

.hero-container {
  height: 100vh;
  min-height: 550px;
  display: flex;
  padding-top: 114px;
  justify-content: center;
  position: relative;
}

.hero-text {
  margin: auto;
}

.hero-container .img, .link-panel {
  display: none;
}

.hero-headline {
  margin: 0 auto;
  margin-bottom: 60px;
}

.hero-headline>p {
  margin: auto;
}

.hero-headline .titulo {
  line-height: 120%;
  letter-spacing: 0.02em;
}

.hero-headline .subtitulo {
  font-family: 'Quicksand';
  line-height: 120%;
  letter-spacing: 0.02em;
  min-height: 80px;
  margin-top: 40px;
}

.hero-text .btn {
  margin: auto;
  font-size: 1.45em;
}

.hero-text {
  font-size: 12px;
}

.hero-headline .titulo {
  font-size: 4em;
}

.hero-headline .subtitulo {
  font-size: 2em;
}

@media (min-width:320px) {
  .hero-text {
    font-size: 13px;
  }
}

@media (min-width:660px) {
  .hero-text {
    font-size: 14px;
  }
}

@media (min-width:900px) {
  .hero-text {
    font-size: 16.5px;
  }
  .hero-container {
    flex-wrap: nowrap;
    text-align: left;
  }
  .hero-container>* {
    flex: 1;
  }
  .hero-container .img {
    display: block;
    min-height: 300px;
    min-width: 376.5px;
    position: relative;
    margin: auto;
  }
  .hero-container .img img {
    position: absolute;
    top: 0;
    left: 50px;
    height: 100%;
    width: 100%;
  }
  .link-panel {
    display: block;
    position: fixed;
    border-radius: 0 10px 10px 0;
    left: 0;
    top: 50vh;
    background-color: rgba(0, 0, 0, .2);
    width: 60px;
  }
  .link-panel a.icon {
    display: block;
    background-size: 100%;
    height: 30px;
    width: 30px;
    margin: 20px auto;
  }
}

@media (min-width:1080px) {
  .hero-container .img {
    min-height: 340px;
    min-width: 426.8px;
  }
  .link-panel {
    width: 70px;
  }
  .link-panel a.icon {
    height: 35px;
    width: 35px;
    margin: 23px auto;
  }
}

@media (min-width:1440px) {
  .hero-text {
    font-size: 18px;
  }
  .hero-container .img {
    min-height: 380px;
    min-width: 477px;
  }
  .link-panel {
    width: 75px;
  }
  .link-panel a.icon {
    height: 40px;
    width: 40px;
    margin: 26px auto;
  }
}

/* SECTION ELEMENTS */

section {
  width: 100%;
  margin: 120px 0;
}

@media (min-width:860px) {
  section {
    margin: 280px 0;
  }
}

@media (min-width:1400px) {
  section {
    margin: 340px 0;
  }
}

section .section-header {
  font-family: 'Quicksand';
  font-size: 36px;
}

section .section-body {
  margin: 50px 0;
}

section .section-link {
  width: 260px;
  padding: 1rem;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  font-weight: 600;
  transition: .3s;
}

.section-link:hover, .section-link:focus {
  text-decoration: underline;
  background-color: rgba(0, 0, 0, .05);
}

.section-link svg {
  margin-right: 10px;
  min-width: 25px;
  min-height: 25px;
}

.section-header::after {
  content: ' ';
  background-color: white;
  display: block;
  height: 4px;
  width: 250px;
  margin: auto;
  margin-top: 1.2rem;
  border-radius: 2px;
}

.card .section-header::after {
  background-color: #234061;
}

.card {
  border-radius: 12px;
  margin: 0 auto;
  box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.2);
}

/* PROYECTOS SECTION */

.project-container {
  margin: auto;
  margin-bottom: 102px;
  padding: 64px 14px;
  padding-top: 100px;
  box-sizing: content-box;
  background-color: rgba(255, 255, 255, .9);
  color: #234061;
}

.project-list {
  margin: 50px auto;
  justify-content: center;
}

.project-item {
  display: inline-block;
  position: relative;
  height: 250px;
  width: 250px;
  margin-right: 10px;
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 10px;
  box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.2);
  transition: .7s ease-in-out;
  scroll-snap-align: center;
}

.project-item:hover {
  background-size: 115%;
}

.project-item::before {
  content: '+';
  display: flex;
  position: absolute;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  color: white;
  border-radius: 10px;
  font-size: 150px;
  text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.24);
  transition: .7s;
  opacity: 0;
  cursor: pointer;
}

.project-item:hover::before {
  opacity: 1;
}

@media (max-width:1059px) {
  .project-list {
    overflow-x: auto;
    scroll-snap-type: x proximity;
    white-space: nowrap;
  }
}

@media (min-width:600px) {
  .project-item {
    height: 300px;
    width: 300px;
  }
}

@media (min-width:1060px) {
  .project-list {
    display: grid;
    grid-template-columns: repeat(2, 350px);
    grid-template-rows: repeat(3, 350px);
    grid-gap: 20px;
    margin: 50px auto;
  }
  .project-item {
    width: 100%;
    height: 100%;
    background-color: #C4C4C4;
    border-radius: 10px;
    box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.2);
    position: relative;
  }
}

@media (min-width:1200px) {
  .project-list {
    grid-template-columns: repeat(2, 412px);
    grid-template-rows: repeat(3, 412px);
  }
}

@media (min-width: 650px) {
  .project-container {
    box-sizing: border-box;
  }
}

/* SOBRE MI SECTION */

.small-p {
  margin: 50px auto;
  width: 250px;
}

.card-quote {
  margin: 50px auto;
  margin-top: 64px;
  max-width: 550px;
  background-color: white;
  color: #234061;
  font-size: 21px;
}

.card-quote p {
  padding: 1.5rem 1rem;
}

.sobre-mi-content {
  margin: 50px auto;
}

@media (max-width: 1279px) {
  .sobre-mi-content .img {
    display: none;
  }
}

@media (min-width: 650px) {
  .sobre-mi-content {
    display: grid;
    width: 70vw;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 200px 200px;
    grid-template-areas: "top-text top-text" "bottom-text bottom-text";
  }
  .top-text {
    display: flex;
    grid-area: top-text;
  }
  .bottom-text {
    margin-top: 50px;
    grid-area: bottom-text;
  }
  .card-quote {
    margin: 20px auto;
  }
  .sobre-mi-content .small-p {
    margin: auto;
    margin-top: 20px;
  }
}

@media (min-width: 1280px) {
  .sobre-mi-content .img {
    grid-area: ilustracion;
    width: 100%;
    height: 100%;
    min-width: 410px;
    min-height: 360px;
  }
  .sobre-mi-content {
    grid-template-areas: "top-text ilustracion" "bottom-text ilustracion";
  }
}

/* CONOCIMIENTOS SECTION */

.tab-container {
  width: 310px;
  margin: 50px auto;
}

.tab-container .tab-list {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(6, calc(50% - 40px));
  grid-template-rows: 50px;
  overflow-x: scroll;
  scroll-snap-type: x mandatory;
  scroll-padding: 100px;
  user-select: none;
}

.tab-list li {
  scroll-snap-align: center;
  cursor: pointer;
  font-size: 22px;
  opacity: .7;
}

.tab-list li:hover, .tab-list li.active {
  opacity: 1;
  font-weight: bold;
}

.tab-content {
  height: 300px;
}

.tab-content .header {
  font-weight: bold;
  font-size: 1.2em;
  margin: .5em 0;
}

.tab-content>a {
  text-decoration: underline;
}

.tab-content>a:hover {
  font-weight: bold;
}

@media (max-width: 649px) {
  .tab-content::before {
    content: ' ';
    background-color: white;
    display: block;
    margin: auto;
    border-radius: 2px;
    height: 3px;
    width: 310px;
    margin-bottom: 1.2rem;
  }
}

@media (min-width: 650px) {
  .tab-container {
    width: 100%;
    display: flex;
    justify-content: center;
    text-align: left;
  }
  .tab-container .tab-list {
    grid-template-columns: calc(50% - 40px);
    grid-template-rows: repeat(6, auto);
    overflow-x: auto;
    padding-right: 20px;
    scroll-snap-type: y mandatory;
    border-right: 3px solid white;
  }
  .tab-list li {
    width: 120px;
  }
  .tab-content {
    width: 370px;
    margin-left: 25px;
  }
}

.highlight {
  color: #D32056;
  font-weight: bold;
  margin: 1rem 0;
}

/* CONTACTO */

#contacto {
  margin-bottom: 0;
  padding-top: 20px;
  background-color: rgba(0, 0, 0, 0.2);
}

.icon-list {
  display: flex;
  width: 250px;
  height: 50px;
  margin: 0 auto;
  justify-content: space-between;
}

.icon-list .icon {
  width: 50px;
  height: 50px;
}

.email {
  font-size: 22px;
}

/* FOOTER */

#contacto {
  padding-top: 100px;
}

footer {
  margin-top: 200px;
  height: 100px;
  background-color: white;
  color: #234061;
  display: flex;
}

.copyright {
  margin: auto;
  font-weight: 600;
}

/* POP UP PROYECTO */

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 20;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, .5);
  opacity: 0;
  pointer-events: none;
  transition: .6s;
  font-size: 21px;
}

.mostrar {
  opacity: 1;
  pointer-events: all;
}

.project-card {
  display: grid;
  grid-template-columns: calc(1fr - 40px);
  grid-template-rows: 60px 60px 1fr 120px 30px;
  row-gap: 15px;
  padding: 10px;
  flex-wrap: wrap;
  width: 95%;
  height: calc(100% - 20px);
  max-width: 550px;
  margin: 10px auto;
  background-color: white;
  border-radius: 12px;
  color: #234061;
  text-align: center;
  font-size: 20px;
}

.project-card>* {
  width: 100%;
  height: 100%;
}

.project-card .header {
  font-size: 1.25em;
  font-weight: bold;
}

.project-card .tags {
  font-size: .85em;
}

.project-card .body {
  font-size: .9em;
}

.project-card .video-wrapper {
  position: relative;
  object-fit: contain;
  background-color: #1f2123;
}

.video-wrapper video {
  width: 100%;
  height: 100%;
}

.video-wrapper .project-links {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  background-color: rgba(67, 221, 230, .8);
  border-radius: 0 0 12px 0;
}
.video-wrapper .project-links a {
  margin: 5px 10px;
  width: 75px;
  height: 50px;
  background-size: 40px;
  background-position: center;
  background-repeat: no-repeat;
  display: inline-block;
  transition: .4s;
}
.video-wrapper .project-links a:hover {
  background-color: #43DDE6;
  background-size: 47.5px;
}

.video-wrapper .project-links .gh-icon {
  background-image: url(../img/icon/github.svg);
}
.video-wrapper .project-links .lv-icon {
  color: white;
  white-space: nowrap;
}

.project-card .close {
  font-size: 1.2em;
  cursor: pointer;
}

.project-card .close:hover {
  text-decoration: underline;
}