/* COLOR - TEMA*/
body {
  background-color: var(--background-color);
  color: var(--foreground-color);
  background-color: var(--background-color);
}
.bg-primary {
  background-color: #ffffff;
  color: #111111;
  color: var(--foreground-color);
  background-color: var(--background-color);
}
.bg-secondary {
  background-color: #eeeeee;
  color: #111111;
  color: var(--foreground-color);
  background-color: var(--background-color-2);
}

body.transition, .transition .bg-primary, .transition .bg-secondary {
  transition: background .8s, color 1.5s;
}

.transition .hero-container::after {
  transition: opacity 1.5s;
}

/* GENERAL */

:root {
  --primary-color: #dc1c59;
  --primary-color-lighter: #e21c5b;
  --primary-color-darker: #8f154a;
}

.dark {
  --background-color: #111111;
  --background-color-2: #222222;
  --foreground-color: #ffffff;
  --foreground-color-2: #eeeeee;
}
.light {
  --background-color: #ffffff;
  --background-color-2: #eeeeee;
  --foreground-color: #111111;
  --foreground-color-2: #222222;
}


.container {
  width: 61.8vw;
  margin: auto;
}

@media (max-width: 1100px) {
  .container {
    width: 70vw;
  }
}

@media (max-width: 950px) {
  .container {
    width: 75vw;
  }
}

@media (max-width: 800px) {
  .container {
    width: 80vw;
  }
}

@media (max-width: 650px) {
  .container {
    width: 85vw;
  }
}

@media (max-width: 500px) {
  .container {
    width: 90vw;
  }
}